body{
    background-image: url("/img/back1.jpg");
}

html{
    font-family: Arial;
}
.container{
    margin-left: 5%;
    width: 90%;
    height: 100%;

}

.cap{
    width: 100%;
    height: 5vw;
}
.languages{
    padding-top: 1.5vw;
    padding-left: 2vw;
    font-weight: bold;
    font-size: 1em ;
}
.wrapper_middle{
    display: flex;
    flex-direction: row;
    padding-top: 15vh;
    gap: 8vw;
    padding-left: 8vw;
    height: 100%;
}
.text_logo{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: red;
}
.textRadio{
    font-size: 1.5em;
}
.textRadio2{
    font-size: 7em;
}
.img_logo{
    width: 12vw;
    height: 12vw;
}
.news{
    padding-left: 10%;
    padding-top: 4vh;
    width: 80%;
}
.wrapper_bottom {
    padding-top: 20vh;
    width: 100%;

}
.span{
    padding-left: 2vw;
    font-weight: bold;
    font-size: 1.5em;
}
.contacts{
    padding-top: 3.5vh;
    padding-left: 13vw;
    height: 14vh;
    background-color: #f35f5f;
    border: 1.5rem solid #e2434b;

}
.wrapEqualizer{
    width: 80%;
    padding-left: 10%;
    padding-top: 2vh;
}
.equalizer{
    width: 100%;
    border: 2px solid black;
    height: 10vh;
}
a{
    font-style: normal;
}